<h1>DETALLE PARTICIPANTE</h1>

<a href="/" class="btn btn-warning">Volver al inicio</a><br><br>

<ul class="list-group">
  <li class="list-group-item">Número carrera: {{participante.numCarrera}}</li>
  <li class="list-group-item">Dorsal: {{participante.dorsal}}</li>
  <li class="list-group-item">Nombre: {{participante.nombre}}</li>
  <li class="list-group-item">Apellidos: {{participante.apellidos}}</li>
  <li class="list-group-item">Posición general: {{participante.posicionGeneral}}</li>
  <li class="list-group-item">DNI: {{participante.DNI}}</li>
  <li class="list-group-item">Tiempo oficial: {{participante.tiempoOficial}}</li>
</ul>